<div [hidden]="!Server_Error">
  <div class="alert alert-primary" role="alert">
    <p>Server Error</p>
  </div>
</div>

<div class="login-page" [hidden]="!Requested">
  <div class="form">
    <form class="login-form" (ngSubmit)="loginReq()" #heroForm="ngForm">
      <input type="text" placeholder="username" [(ngModel)]="username" name="username" />
      <input type="password" placeholder="password" [(ngModel)]="password" name="password" />
      <button>login</button>
      <p class="message">Not registered?
        <a routerLink="/signup">Create an account</a>
      </p>
    </form>
  </div>
</div>



<div class="container" [hidden]="!checkingReq">

  <div class="text-center mt-lg-5 ml-2">
    <div class="loader ml-2"></div>
    
  </div>

</div>
