
<div id="wrapper">
  <h2> Registration </h2>
  <br>
  <div id="image_div">
    <p class="img_wrapper">
      <img src="http://remotehealth.azurewebsites.net/image/signup/doctor.jpg">
      <span>
        <input routerLink="/signup-doctor" type="button" value="Doctor">
      </span>
    </p>

    <p class="img_wrapper">
      <img src="http://remotehealth.azurewebsites.net/image/signup/nurse.png">
      <span>
        <input routerLink="/signup-nurse" type="button" value="Nurse">
      </span>
    </p>

    <p class="img_wrapper">
      <img src="http://remotehealth.azurewebsites.net/image/signup/patient2.png">
      <span>
        <input routerLink="/signup-patient" type="button" value="Patient">
      </span>
    </p>

  </div>
</div>
