<!-- Heaer Content -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">
    Doctor Panel
  </a>
  <p class="my-2 my-sm-0">Doctor Name: {{doctorName}}
    <br>Doctor ID: {{doctorID}} </p>
</nav>

<div class="container">
  <div role="main" class="container">

    <div class="row mt-3 ml-0">
      <a (click)="goto_doctor_edit()" class="btn btn-primary">Doctor Infomation Edit</a>
      <!-- <a href="#" class="btn btn-danger ml-2">Previous Admission History</a> -->
    </div>

    <div class="row mt-3">

      <div class="col">
        <p>Active Admission List</p>
        <table class="table">
          <thead>
            <tr>
         
              <th scope="col">Patients Name</th>
              <th scope="col">Admission ID</th>
              <th scope="col">Admission Date</th>
              <th scope="col">View Details</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let list of patients_list">
                <td scope="col">{{list.firstName}} {{list.lastName}}</td>
                <td scope="col">{{list.admission_id}}</td>
                <td scope="col">{{list.createdDate}}</td>
                <td scope="col"><input class="btn btn-success" (click)=" goto_patients_details(in.name)" #in type="button" name="{{list.admission_id}}" value="View Details"></td>
                
              </tr>
            

          </tbody>
        </table>

      </div>

    </div>
  </div>
