  <!-- Heaer Content -->
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">
        Doctor Panel
    </a>
    <p class="my-2 my-sm-0">Doctor Name: Doctor
        <br>Doctor ID: 2231 </p>
</nav>

<div class="container">
    <main role="main" class="container">

        <div class="row mt-3 ml-0">
            <a href="doctor_info.html" class="btn btn-primary">Doctor Infomation Edit</a>
            <a href="previous_patients_details.html" class="btn btn-danger ml-2">Previous Admission History</a>
        </div>

        <div class="row mt-3">

            <div class="col">
                <p>Active Admission List</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Patients Name</th>
                            <th scope="col">Admission ID</th>
                            <th scope="col">View Details</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Patients</td>
                            <td>234123123</td>
                            <td>
                                <a href="patients_details.html" class="btn btn-primary">Details</a>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>

    </main>
    </div>