<div *ngIf="is_data_loaded">
  <!-- Heaer Content -->
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" routerLink="/doctor-dashboard">
      Doctor Panel
    </a>
    <p class="my-2 my-sm-0">Doctor Name: {{doctorName}}
      <br>Doctor ID: {{doctorID}} </p>
  </nav>

  <div class="container">
    <div role="main" class="container">
      <h4 class="mt-5">Checkup ID: 223343</h4>
      <div class="row">

        <!-- <div class="col">
          <input type="text" class="form-control" placeholder="Checkup ID" value="{{checkup_details.checkup_id}}" disabled>
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Hospital ID" value="{{checkup_details.hospital_id}}" disabled>
        </div>

        <div class="col">
          <input type="text" class="form-control" placeholder="Other" value="{{checkup_details.other}}" disabled>
        </div>

        <div class="col">
          <input type="text" class="form-control" placeholder="Admission Date" value="{{checkup_details.checkup_type}}" disabled>
        </div>
        
        <div class="col">
          <input type="text" class="form-control" placeholder="Admission Date" value="{{checkup_details.CreatedDate}}" disabled>
        </div> -->

      </div>


      <div class="row mt-3">
        <div class="col">
        
          <table class="table">
            <tbody>
              <div >
                <chart [type]="type" [data]="data" [options]="options"></chart>
            </div>

            </tbody>
          </table>
          <br><br><br>
        </div>

      </div>

    </div>
  </div>
</div>
